body {
    background-color: lightslategray;
}

h1 {
    color: black;
    margin-left: 20px;
    border-radius: 25px;
    border: 2px dotted black;
    padding:20px
}

img {
    float: right;
    width:150px;
    height:150px;
    margin-left:15px;
}

#one{
    font-family: 'Cambria';
    color: black;
    font-size: 15px;
}

#two{
    font-family: 'Helvetica';
    color: black;
    font-size:20px;
}
